table {
    border-style:double;
    border-width: 5px;
    width: 300px;
    margin: auto;
}
#eventlog {
    list-style-type: square;
    font-style: italic;
}
#info {
    font-size: 13px;
    max-block-size: 200px; 
    overflow: scroll;
}
#mid {
    padding: 20px;
}
#left {
    text-align: left;
    min-width: 180px;
}
#upperItems, #lowerItems {
    display: grid;
    grid-template-columns: auto auto auto; 
}
#modal {
    /* display: none; */
    background-color: azure;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
}
#modal div{
    float:none
}
#modal h2{ text-align: center;}