table {
    border-style:double;
    border-width: 5px;
    width: 300px;
    margin: auto;
}
body {
    color: #B4A5A5;
    /* text-shadow: 1px 1px red; */
    
    /* background-color: #151515; */
    background-image: url("/back.jpg");
    
}
button {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}
button:hover{
    border-color: lightgray;
}
#eventlog {
    list-style-type: square;
    font-style: italic;
}
#info {
    font-size: 13px;
    max-block-size: 200px; 
    overflow: scroll;
}
#mid {
    padding: 20px;
}
#left {
    text-align: left;
    min-width: 180px;
}
ul {
    list-style-type: none;
}
#upperItems, #lowerItems {
    display: grid;
    grid-template-columns: auto auto auto;
    
}
#modal {
    outline: double 14px darkred;
    border-color: darkred;
    display: none;
    background-color: #B4A5A5;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    padding: 20px;
    
}
#modal h2{ text-align: center;
    text-shadow: 1px 2px white;
    color: #151515}
.anime {
    animation: blinker 0.3s;

}

#modal textarea {
    
    margin: auto;
    font-size: 15px;
    resize: none;
    display: block;
    border: solid;
    border-width: 2px;
    width: 300px;
    
}

#modal > div{
    padding: 30px;
    text-align: center;
}
#modal > div > button{
    display: inline;
    width: 40%;
    margin: auto;
}
#modal #butt{
    width: 308px;
    display: block;
    margin: auto;
    margin-top: 5px;
}
#darkenPage {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
  }
#footer {
    text-align: center;
}
